@tailwind base;
@tailwind components;
@tailwind utilities;
  
@layer base {
    body {
        font-family: var(--font-jetbrainsMono), monospace;
        background-color: #1c1c22;
        color: #fff;
        line-height: 1.75;
    }

    .h1 {
        font-size: 48px;
        line-height: 1.1;
        font-weight: 600;
    }
    @media (min-width: 1200px) {
        .h1 {
            font-size: 70px;
        }
    }

    .h2 {
        font-size: 36px;
        line-height: 1.1;
        font-weight: 600;
    }
    @media (min-width: 1200px) {
        .h2 {
            font-size: 48px;
        }
    }

    .h3 {
        font-size: 20px;
        line-height: 1.1;
        font-weight: 600;
    }
    @media (min-width: 1200px) {
        .h3 {
            font-size: 24px;
        }
    }

    .text-outline {
        -webkit-text-stroke: 1px #ffffff;
    }

    .text-outline-hover {
        -webkit-text-stroke: 1px #7a44f5;
    }
}